:root {

    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #ffc06e;
    --secondary-color: #8D8DFF;
    --color-1: #f5eee6;
    --color-2: #F3F7F9;
    --color-3: #F6F3F9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Work Sans, poppins;
    color: var(--text-color)
}


body{
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: LINE Seed JP;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    font-size: 1.2rem;
}

nav li:first-child{
    margin-right: auto;
    font-family: Work Sans, poppins;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    color: var(--color-1);
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}


header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container {
    flex: 0 1 34em;
}


h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--secondary-color);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

section p {
    margin-top: 1em;
    font-size: 1.25rem;
}

section img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

section#my-work{
    background-color: var(--color-3);
}

.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em;
}

.grid-container img {
    transition: transform 0.5s ease; /* smooth 0.3s animation */
}

.grid-container img:hover {
   transform: scale(1.02)
}

details {
    margin-top: 1em;
    background-color: var(--base-color);
    border-radius: 1em;
}

details summary{
    padding: 1em;
    font-size: 1.7rem;
    font-family: Work sans, poppins;
}

details p{
    padding: 0 2em 2em 2em;
}

.page-bottom-spacer {
    height: 10em; /* or adjust to taste */
}

footer{
    padding-bottom: 10em;
    text-align: center;
}

footer a{
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover{
    color:#8D8DFF;
}

@media(max-width: 1011px){
    header {
        text-align: center;
    }
    
    header .text-container {
        padding-top:0;
    }
}


@media(max-width: 975px){
    nav li {
        display: none;
    }
    nav li:first-child,
    nav li:last-child {
    display: block;
    }

    header {
        margin-top: 0;
    }

    .cta-button {
        margin-top: .5em;
        width: 100%;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .text-container p {
        font-size: 1rem;
    }
}



