:root {
    --base-color: #cccbca;
    --backgrund-body:#141414;
    --backgrund-body-gradient:#1f1e1e;
    --backgrund-body-2: #2c2c2c;
    --backgrund-body-3: #292929;
    --text-color: #444444;
    --text-navbar: #F9F7F2;
    --text-navbar-darker: #81807d;
    --hover-color: #d8d8d8;
    
    --header-bg-color: 45, 45, 45; 
    --header-bg-alpha-start: 0;
    --header-bg-alpha-end: 1;
    --header-blur-max: 10;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    background-color: var(--backgrund-body-2);
    overflow-x: hidden;
    width: 100%;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

html:has(dialog[open]) {
    overflow: hidden;
    height: 100vh;
}



